.home-hero {
    box-sizing: border-box;
    min-height: 80vh;
    width: 150vh;
    margin: 24px auto;
    border-radius: 24px;
    overflow: hidden;
    
    background-image: 
        linear-gradient(
        to right, 
      #F5F5F5 0%,                         
      rgba(245, 245, 245, 0.98) 15%,      
      rgba(245, 245, 245, 0.85) 30%,      
      rgba(245, 245, 245, 0.65) 45%,      
      rgba(245, 245, 245, 0.35) 60%,      
      rgba(245, 245, 245, 0.15) 75%,      
      rgba(245, 245, 245, 0.05) 90%,      
      transparent 100%
        ),
        url('../../assets/bg.png'); 

    background-size: cover; 
    background-position: center right; 
    background-repeat: no-repeat;

   
    display: flex;
    align-items: center; 
    padding-left: 8%;
}