@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Outfit', system-ui, sans-serif;
  background-color: #f7f9fa; /* Un gri-albăstrui extrem de fin, elegant */
  color: #1a1a24; /* Un negru "stins", mult mai plăcut decât #000000 */
}